**Note: In Data Science googling is a very important skill. If you find some difficulties to solve the problem, google it and try to find some clues to solve.**

In [1]:
import numpy as np

### `Q-1` Create a null vector of size 10 but the fifth value which is 1.

In [18]:
a = np.zeros(10)

a[4] = 1
a

array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.])

### `Q-2` Ask user to input two numbers a, b. Write a program to generate a random array of shape (a, b) and print the array and avg of the array.

In [14]:
a = int(input('Enter a: '))
b = int(input('Enter b: '))

c = np.round(np.random.random((a,b))*10)
print(c)
print('Average: ', np.mean(c))

Enter a:  2
Enter b:  3

[[3. 2. 2.]
 [6. 5. 1.]]
Average:  3.1666666666666665

### `Q-3`Write a function to create a 2d array with 1 on the border and 0 inside. Take 2-D array shape as (a,b) as parameter to function.

Eg.-
```
[[1,1,1,1],
[1,0,0,1],
[1,0,0,1],
[1,1,1,1]]
```

In [ ]:
def array_maker(a,b):
    pass

array_maker(4,4)

### `Q-4` Create a vector of size 10 with values ranging from 0 to 1, both excluded.

In [3]:
np.random.random(10)

array([0.33067677, 0.160133  , 0.93536161, 0.43646783, 0.88732406,
       0.36739632, 0.41526848, 0.43841268, 0.3930474 , 0.32260939])

### `Q-5` Can you create a identity mattrix of shape (3,4). If yes write code for it.

In [ ]:
# No

### `Q-6:` Create a 5x5 matrix with row values ranging from 0 to 4.

### `Q-7:`  Consider a random integer (in range 1 to 100) vector with shape `(10,2)` representing coordinates, and coordinates of a point as array is given. Create an array of distance of each point in the random vectros from the given point. Distance array should be interger type.

```
point = np.array([2,3])
```

In [ ]:
#code here

### `Q-8:` Consider a (6,7,8) shape array, what is the index (x,y,z) of the 100th element?

In [4]:
np.random((6,7,8))

TypeError: 'module' object is not callable

### `Q-9:` Arrays

You are given a space separated list of numbers. Your task is to print a reversed NumPy array with the element type float.

**Input Format:**

A single line of input containing space separated numbers.

**Output Format:**

Print the reverse NumPy array with type float.

**Example 1:**

Input:

```bash
1 2 3 4 -8 -10
```

Output:

```bash
[-10.  -8.   4.   3.   2.   1.]
```

In [ ]:
#Code here

### `Q-10:` Elements count

Count the number of elements of a numpy array.

**Example 1:**

Input:
```bash
np.array([])
```

Output:
```bash
elements_count :  0
```

**Example 2:**

Input:
```bash
np.array([1, 2])
```

Output:
```bash
elements_count :  2
```

In [ ]:
#Code here

### `Q-11:` Softmax function

Create a Python function to calculate the Softmax of the given numpy 1D array. The function only accepts the numpy 1D array, otherwise raise error.

$$\Large \sigma(\vec z)_i = \frac{e^{z_i}}{\sum_{j=i}^{K}{e^{z_j}}}$$

https://en.wikipedia.org/wiki/Softmax_function

**Example 1:**

Input:
```bash
[86.03331084 37.7285648  48.64908087 87.16563062 38.40852563 37.20006318]
```

Output:
```bash
[2.43733249e-01, 2.56112115e-22, 1.41628284e-17, 7.56266751e-01,
       5.05514197e-22, 1.50974911e-22]
```

**Example 2:**

Input:
```bash
[33.17344305 45.61961654 82.05405781 80.9647098  68.82830233 91.52064278]
```

Output:
```bash
[4.57181035e-26, 1.16249923e-20, 7.73872596e-05, 2.60358426e-05,
       1.39571531e-10, 9.99896577e-01]
```

In [ ]:
#Code here

### `Q-12:` Vertical stack

Write a python function that accepts infinite number of numpy arrays and do the vertical stack to them. Then return that new array as result. The function only accepts the numpy array, otherwise raise error.

**Example 1:**

Input:
```bash
a= [[0 1 2 3 4]
 [5 6 7 8 9]]

b= [[1 1 1 1 1]
 [1 1 1 1 1]]
```

Output:

```bash
[[0 1 2 3 4]
 [5 6 7 8 9]
 [1 1 1 1 1]
 [1 1 1 1 1]]
```

**Example 2:**

Input:
```bash
a= [[0 1 2 3 4]
 [5 6 7 8 9]]

b= [[1 1 1 1 1]
 [1 1 1 1 1]]

c= [[0.10117373 0.1677244  0.73764059 0.83166097 0.48985695]
 [0.44581567 0.13502419 0.55692335 0.16479622 0.61193593]]
```

Output:
```bash
[[0.         1.         2.         3.         4.        ]
 [5.         6.         7.         8.         9.        ]
 [1.         1.         1.         1.         1.        ]
 [1.         1.         1.         1.         1.        ]
 [0.10117373 0.1677244  0.73764059 0.83166097 0.48985695]
 [0.44581567 0.13502419 0.55692335 0.16479622 0.61193593]]
```

In [ ]:
#Coder here

### `Q-13:` Dates

Create a python function named **date_array** that accepts two dates as string format and returns a numpy array of dates between those 2 dates. The function only accept 2 strings, otherwise raise error. The date format should be like this only: `2022-12-6`. The end date should be included and for simplicity, choose dates from a same year.

**Example 1:**

Input:
```bash
date_array(start = '2020-09-15', end = '2020-09-25')
```

Output:
```bash
['2020-09-15', '2020-09-16', '2020-09-17', '2020-09-18',
 '2020-09-19', '2020-09-20', '2020-09-21', '2020-09-22',
 '2020-09-23', '2020-09-24', '2020-09-25']
```

**Example 2:**

Input:
```bash
date_array(start = '2022-12-01', end = '2022-12-06')
```

Output:
```bash
['2022-12-01', '2022-12-02', '2022-12-03', '2022-12-04', '2022-12-05', '2022-12-06']
```

**Example 3:**

Input:
```bash
date_array(start = '2020-11-25', end = '2020-11-30')
```

Output:
```bash
['2020-11-25', '2020-11-26', '2020-11-27', '2020-11-28',
 '2020-11-29', '2020-11-30']
```

In [ ]:
#Code here

### `Q-14:` Subtract the mean of each row from a matrix.

In [51]:
a14 = np.array([[1,2,3],[4,5,6],[7,8,9]])

a14

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [54]:
np.mean(a14, axis=1)

array([2., 5., 8.])

In [ ]:
a14 - a1

### `Q-15:` Swap column-1 of array with column-2 in the array.

In [48]:
a15 = np.array([[1,2,3],[4,5,6],[7,8,9]])
a15

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [49]:
a15[:, [0,1]] = a15[:, [1,0]]

In [50]:
a15

array([[2, 1, 3],
       [5, 4, 6],
       [8, 7, 9]])

### `Q-16:` Replace odd elements in arrays with -1.

In [26]:
arr = np.array([1,2,3,4,5])
arr

array([1, 2, 3, 4, 5])

In [33]:
np.where(arr%2!=0, -1, arr)

array([-1,  2, -1,  4, -1])

### `Q-17:` Given two arrays of same shape. Make an array of max out of two arrays. (Numpy way)
```
a=np.array([6,3,1,5,8])
b=np.array([3,2,1,7,2])

Result-> [6 3 1 7 8]
```

In [17]:
a = np.array([6,3,1,5,8])
b = np.array([3,2,1,7,2])

In [19]:
print(a)
print(b)

[6 3 1 5 8]
[3 2 1 7 2]

In [25]:
np.maximum(a,b)

array([6, 3, 1, 7, 8])

### `Q-18` Answer below asked questions on given array:
1. Fetch Every alternate column of the array
2. Normalise the given array

https://en.wikipedia.org/wiki/Normalization_(statistics)

There are different form of normalisation for this question use below formula.

$$\large X_{normalized} = \frac{X - X_{min}}{X_{max} - X_{min}}$$

```python
arr1=np.random.randint(low=1, high=10000, size=40).reshape(8,5)
```

In [6]:
# Given
arr1 = np.random.randint(low=1, high=10000, size=40).reshape(8,5)

arr1

array([[3811, 9460, 4543, 6975,  584],
       [7163, 3734, 6277, 7697, 2522],
       [8933, 5202, 6831, 9961, 7875],
       [6086, 7352, 7425, 3644, 2727],
       [7176, 4946, 2929, 9582, 3163],
       [9141, 1114, 6852,  405, 5535],
       [7210, 4762,  874, 4601,  738],
       [7218, 2791, 8746,  246, 1661]])

In [7]:
# Fetch Every alternate column of the array

arr1[:,::2]

array([[3811, 4543,  584],
       [7163, 6277, 2522],
       [8933, 6831, 7875],
       [6086, 7425, 2727],
       [7176, 2929, 3163],
       [9141, 6852, 5535],
       [7210,  874,  738],
       [7218, 8746, 1661]])

In [15]:
# Normalise the given array

Xmax = arr1.max()
Xmin = arr1.min()

# Xnormalized = (X - Xmin)/(Xmax - Xmin)

normalized_arr = (arr1 - Xmin)/(Xmax - Xmin) 

normalized_arr

array([[0.36695831, 0.94843026, 0.44230571, 0.69264025, 0.03479156],
       [0.71199177, 0.35903242, 0.62079259, 0.76695831, 0.23427689],
       [0.89418425, 0.51013896, 0.67781781, 1.        , 0.78528049],
       [0.60113227, 0.73144622, 0.73896037, 0.3497684 , 0.25537828],
       [0.7133299 , 0.48378796, 0.27617087, 0.96098816, 0.30025733],
       [0.91559444, 0.08934637, 0.67997941, 0.01636644, 0.54441585],
       [0.71682964, 0.46484817, 0.06464231, 0.44827586, 0.05064334],
       [0.71765311, 0.26196603, 0.87493567, 0.        , 0.14565106]])

### `Q-19:` Write a function which will accept 2 arguments.
First: A 1D numpy array arr

Second: An integer n {Please make sure n<=len(arr)}

Output: The output should be the nth largest item out of the array
```
# Example1 : arr=(12,34,40,7,1,0) and n=3, the output should be 12
# Example2 : arr=(12,34,40,7,1,0) and n=1, the output should be 40
```

In [45]:
def find_nth_largest(arr, n):
    if n > len(arr):
        print('Invalid')
    else:
        print(np.sort(arr)[::-1][n-1])

arr = np.array([12,34,40,7,1,0])
n = 3

find_nth_largest(arr,n)

12

### `Q-20:` Create the following pattern without hardcoding. Use only numpy functions and the below input array a.
```
# Input: a = np.array([1,2,3])
# Output: array([1, 1, 1, 2, 2, 2, 3, 3, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3])
```

In [2]:
import numpy as np

In [4]:
a = np.array([1,2,3])
a

array([1, 2, 3])

In [17]:
np.concatenate((np.repeat(a,3), np.tile(a,3)))

array([1, 1, 1, 2, 2, 2, 3, 3, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3])