### `Q-1:` Create a random 3x4 matrix with value between 0-100. And perform below tasks

    i. Sort this matrix. np.sort()
    ii. Sort this matrix based on values in 2nd column.
    iii. Sort this matrix based on max value in each row.
    iv. Sort based on elements value.

See examples:
```
arr =
    [[92 90 74]
    [ 6 63 93]
    [15 93 96]
    [70 60 48]]
```
```
i. np.sort
[[74 90 92]
 [ 6 63 93]
 [15 93 96]
 [48 60 70]]

ii. based on 2nd column
[[70 60 48]
 [ 6 63 93]
 [92 90 74]
 [15 93 96]]

iii. based on row max- ascending
[[15 93 96]
 [ 6 63 93]
 [92 90 74]
 [70 60 48]]

iv. based on elements value
[[ 6 15 48]
 [60 63 70]
 [74 90 92]
 [93 93 96]]

```

In [3]:
import numpy as np

a = np.random.randint(0,101,12).reshape(3,4)
a

array([[ 37,   6,  82, 100],
       [ 62,  86,   5,  50],
       [ 23,  72,  29,  58]])

In [5]:
np.sort(a)

array([[  6,  37,  82, 100],
       [  5,  50,  62,  86],
       [ 23,  29,  58,  72]])

In [ ]:
np.sort(a, axis=1)

In [8]:
matrix = np.random.randint(0, 101, (3, 4))

# Sort the matrix based on values in the 2nd column
sorted_matrix = matrix[matrix[:, 1].argsort()]

matrix, sorted_matrix

(array([[81, 75, 92, 25],
        [ 9, 85, 63,  0],
        [55, 87, 89, 62]]),
 array([[81, 75, 92, 25],
        [ 9, 85, 63,  0],
        [55, 87, 89, 62]]))

###`Q-2:` There is an array of marks of 5 students in 4 subjects. Further you are asked to perform below task.
    i. Add marks every student of an extra subject in the same array.
    ii. Add two new students marks in respective 5 subjects.(one subject added in above task)
    iii. Add extra column with sum of all subjects(5-subjects) marks
    iv. Sort the array(non-ascending order) on total marks column--one added in above task. Show top 2 rows.

Note: Change dimension of arrays during concatenation or appending if required.

Given Array-
```
marks = [[13, 10,  9, 33],
       [63, 46, 90, 42],
       [39, 76, 13, 29],
       [82,  9, 29, 78],
       [67, 61, 59, 36]]

extra_subject = [41, 87, 72, 36, 92]
#Two extra students record-
rec1 = [77, 83, 98, 95, 89]
rec2 = [92, 71, 52, 61, 53]
```

In [ ]:
# code here

### `Q-3:` Find unique arrays from a 2D array column wise and row wise.
```
arr = np.array([[1,2,3,3,1,1],
                [0,9,1,2,8,8],
                [1,2,3,8,8,8],
                [1,2,3,3,1,1]])
```
Expected Result-
```
Row Wise
[[0 9 1 2 8 8]
 [1 2 3 3 1 1]
 [1 2 3 8 8 8]]

Col Wise
[[1 1 2 3 3]
 [0 8 9 1 2]
 [1 8 2 3 8]
 [1 1 2 3 3]]
```

In [ ]:
# code here

###`Q-4:` Flip given 2-D array along both axes at the same time.

In [ ]:
# code here

### `Q-5:` Get row numbers of NumPy array having element larger than X.
```
arr = [[1,2,3,4,5],
      [10,-3,30,4,5],
      [3,2,5,-4,5],
      [9,7,3,6,5]]

X = 6
```

In [ ]:
# code here

### `Q-6:` How to convert an array of arrays into a flat 1d array?

In [ ]:
# These arrays are given.
arr1 = np.arange(3)
arr2 = np.arange(3,7)
arr3 = np.arange(7,10)

In [ ]:
# code here

### `Q-7:` You are given a array. You have to find the minimum and maximum array element and remove that from the array.

```python
import numpy as np

np.random.seed(400)
arr = np.random.randint(100, 1000, 200).reshape((1, 200))
```

In [28]:
import numpy as np

np.random.seed(400)
arr = np.random.randint(100, 1000, 200).reshape((1, 200))

In [29]:
arr

array([[448, 563, 418, 240, 507, 362, 345, 236, 719, 291, 298, 639, 458,
        387, 262, 613, 267, 882, 181, 425, 790, 635, 889, 818, 872, 967,
        277, 470, 336, 920, 917, 295, 557, 830, 506, 385, 353, 975, 592,
        997, 137, 340, 222, 215, 472, 459, 617, 649, 935, 956, 914, 932,
        645, 952, 921, 490, 527, 972, 278, 307, 840, 958, 246, 449, 251,
        957, 103, 627, 920, 824, 356, 825, 173, 323, 372, 960, 710, 464,
        244, 782, 763, 635, 436, 774, 171, 469, 178, 458, 624, 211, 771,
        270, 308, 231, 952, 514, 699, 702, 433, 900, 373, 318, 998, 265,
        503, 320, 230, 324, 922, 967, 620, 743, 527, 117, 566, 804, 123,
        946, 587, 227, 853, 757, 944, 328, 855, 930, 325, 729, 426, 514,
        296, 879, 575, 936, 705, 209, 191, 743, 510, 513, 628, 559, 658,
        528, 395, 525, 922, 136, 496, 225, 895, 975, 263, 908, 420, 711,
        800, 976, 786, 235, 930, 859, 618, 226, 695, 460, 218, 483, 490,
        803, 621, 453, 193, 607, 677, 637, 728, 724, 534, 748, 291, 194,
        761, 875, 687, 569, 228, 482, 781, 554, 654, 739, 885, 197, 266,
        228, 892, 207, 883, 588]])

In [33]:
max_ele = np.max(arr)
max_ele

998

In [34]:
min_ele = np.min(arr)
min_ele

103

In [37]:
np.delete(a8, max_ele)

IndexError: index 998 is out of bounds for axis 0 with size 15

### `Q-8:` You are given an arrays. You have to limit this array's elements between 100 to 200. $arr ∈ [100, 700]$. So replace those values accordingly with the minimum and maximum value. Then sort the array and perform the cumulative sum of that array.

In [23]:
a8 = np.random.randint(100,701, 15)

a8

array([365, 543, 345, 503, 538, 276, 134, 641, 373, 446, 211, 301, 673,
       560, 109])

In [26]:
a8.clip(100, 200)

array([200, 200, 200, 200, 200, 200, 134, 200, 200, 200, 200, 200, 200,
       200, 109])

### `Q-9:` You are given a array ($arr ∈ [0, 1]$). First you have round off the elements upto 3 decimal places and compare that
- 0th percentile == minimum value of the array
- 100th percentile == maximum value of the array
- also find the difference betwen 51th percenile and 50th percentile values

In [15]:
arr = np.random.random(10)

In [16]:
np.round(arr,3)

array([0.169, 0.105, 0.559, 0.126, 0.808, 0.893, 0.072, 0.422, 0.751,
       0.957])

In [17]:
np.min(arr) == np.percentile(arr,0)

True

In [18]:
np.max(arr) == np.percentile(arr,100)

True

In [19]:
np.percentile(arr,50) - np.percentile(arr,51)

-0.012270944054837085