# Tuple

### `Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]

Input  : test_list = [(5, 6), (6, 8), (6, 10), (6, 7), (7, 13), (5, 7)]
Output : [(5, 6, 7), (6, 8, 10, 7), (7, 13)]
```

In [19]:
# test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
test_list = [(5, 6), (6, 8), (6, 10), (6, 7), (7, 13), (5, 7)]

unique = []

for i in test_list:
    if i[0] not in unique:
        unique.append(i[0])

# print(unique)

output = []

for i in unique:
    output.append([i])
    for j in test_list:
        if j[0]==i:
            output[-1].append(j[1])

# print(output)

list(map(lambda x:tuple(x),output))
# or
# print(list(map(tuple,output)))

[(5, 6, 7), (6, 8, 10, 7), (7, 13)]

### `Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [25]:
t1 = (1, 5, 7, 8, 10)
t2 = ()

for i in range(len(t1)):
    if i == 0:
        t2 = t2 + (t1[0]*t1[1],)
    elif i == len(t1)-1:
        t2 = t2 + (t1[i]*t1[i-1],)
    else:
        t2 = t2 + ((t1[i]*t1[i-1] + t1[i]*t1[i+1]),)

print(t2)

(5, 40, 91, 136, 80)

### `Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [37]:
# t1 = (1,2,3,0)
# t2 = (0,1,2,3)

t1 = (1,2,3,0)
t2 = (1,2,3,0)

for k in [i==j for i,j in zip(t1,t2)]:
    if k==False:
        print('Not same')
        break
else:
    print('Same')

Same

In [36]:
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 == t2

False

### `Q4`: Count no of tuples, list and set from a list

```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [24]:
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},{1,2},('a', 'b'),['hi', 'bye'],['a', 'b']]
list_count = 0
set_count = 0
tuple_count = 0

for  i in list1:
    if type(i) == list:
        list_count += 1
    elif type(i) == set:
        set_count += 1
    elif type(i) == tuple:
        tuple_count += 1

print("List: ", list_count)
print("Set: ", set_count)
print("Tuple: ", tuple_count)

List:  2
Set:  3
Tuple:  1

### `Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2

Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022

Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [63]:
records = int(input('Enter No of records: '))
print()
students = []

for i in range(records):
    print('--- Enter Details of student {} ---'.format(i+1))
    name = input('Enter Student name: ')
    edu = input('Enter Higher Education: ')
    skill = input('Enter Primary Skill: ')
    grad = input('Enter Year of Graduation: ')
    students.append((name,edu,skill,grad))
    print()

print('--- Enter Job Role Requirement ---')
req_skill = input('Enter Skill: ')
req_edu = input('Enter Higher Education: ')
req_grad = input('Enter Year of Graduation: ')

# print(students)
flag = True

for i in students:
    if i[2]==req_skill and i[1]==req_edu and i[-1]==req_grad:
        print(i)
        flag = False

if flag:
    print('No record found.')

Enter No of records:  2

--- Enter Details of student 1 ---

Enter Student name:  manohar
Enter Higher Education:  btech
Enter Primary Skill:  python
Enter Year of Graduation:  22

--- Enter Details of student 2 ---

Enter Student name:  priya
Enter Higher Education:  bsc
Enter Primary Skill:  c++
Enter Year of Graduation:  22

--- Enter Job Role Requirement ---

Enter Skill:  c++
Enter Higher Education:  bsc
Enter Year of Graduation:  22

('priya', 'bsc', 'c++', '22')

# Set

### `Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [29]:
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

list(set(ar1) & set(ar2) & set(ar3))

[80, 20]

### `Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [38]:
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
Set = {'a','e','i','o','u','A','E','I','O','U'}
Set1 = set()
count = 0

for i in set(Str1):
    if i in Set:
        Set1.add(i)

print(Set1)
print(len(Set1))

{'e', 'u', 'a', 'o', 'i', 'A'}
6

In [9]:
# or

string = set("hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX")
# print(string)
vowels = set('aeiouAEIOU')
# print(vowels)
print(len(string & vowels))

6

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [40]:
string = input("Enter string: ")

s = set(string)

if len(s) == 2:
    print("Yes")
else:
    print("No")

Enter string:  hihhhhhiiiihh

Yes

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [45]:
array = [[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]

list1 = []

for i in array:
    list1.append(set(i))

# print(list1)

union = set()

for i in list1:
    union = union | i

print(union)

{1, 2, 3, 4, 5, 6, 7, 9}

In [10]:
# or

array = [[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]

s = set()

for i in array:
    s.update(i)

print(s)

{1, 2, 3, 4, 5, 6, 7, 9}

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [51]:
# lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
# lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}

list(lst1&lst2)

[9, 26, 11, 28]

In [19]:
# or

lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}

[i for i in lst1 if i in lst2]

[4, 5, 9, 10]

In [ ]:
# In Python, when you use list comprehensions with sets ({}), you're actually creating a set, not a list.

In [20]:
# vs

lst1 = [15, 9, 10, 56, 23, 78, 5, 4, 9]
lst2 = [9, 4, 5, 36, 47, 26, 10, 45, 87]

result = [i for i in lst1 if i in lst2]
result

[9, 10, 5, 4, 9]

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [62]:
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
# test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}

max_val = 0
max_key = ''

for i in test_dict:
    if len(set(test_dict[i])) > max_val:
        max_val = len(set(test_dict[i]))
        max_key = i

print(max_key)

CampusX

### `Q2`: Replace words from Dictionary. Given String, replace itâ€™s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [65]:
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
# test_str = 'CampusX best for DS students.'
# repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
             
words = test_str.split()

for i in range(len(words)):
    for j in repl_dict.keys():
        if words[i] == j:
            words[i] = repl_dict[j]

print(' '.join(words))

CampusX is the best channel for Data-Science students.

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [58]:
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]

# test_list = ["CampusX", 10]
# key_list = ["name", "id"]

list1 = []

for i in range(0,len(test_list),2):
    list1.append({key_list[0]:test_list[i], key_list[1]:test_list[i+1]})

print(list1)

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [7]:
# lot = [('A', 1), ('B', 2), ('C', 3)]
lot = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]

dic = {}

for i in lot:
    dic[i[0]] = [i[1]]

print(dic)

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [79]:
# dict1 = {'c': [3], 'b': [12, 10], 'a': [19, 4]}
dict1 = {'c': [10, 34, 3]}
dict2 = {}

sorted_keys = sorted(list(dict1.keys()))

# print(sorted_keys)

for i in range(len(sorted_keys)):
    dict2[sorted_keys[i]] = sorted(dict1[sorted_keys[i]])

print(dict2)

{'c': [3, 10, 34]}