# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [ ]:
print("Data", "Science", "Mentorship", "Program", "started", "By", "CampusX", sep="-")

Data-Science-Mentorship-Program-started-By-CampusX

In [7]:
# or

print("Data", "Science", "Mentorship", "Program", sep="-", end="-")
print("started", end="-")
print("By", "CampusX", sep="-")

Data-Science-Mentorship-Program-started-By-CampusX

In [8]:
# or

print("Data", "Science", "Mentorship", "Program", sep="-", end="-started-")
print("By", "CampusX", sep="-")

Data-Science-Mentorship-Program-started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [ ]:
celcius = int(input("Enter the celcius value: "))
fahreheit = celcius*(9/5) + 32

print(fahreheit)

Enter the celcius value: 32
89.6

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [ ]:
print("---Before swap---")
a = int(input("Enter a: "))
b = int(input("Enter b: "))
c = None

c = a
a = b
b = c

print("---Before swap---")
print("a: ", a)
print("b: ", b)

---Before swap---
Enter a: 4
Enter b: 5
---Before swap---
a:  5
b:  4

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [10]:
print("Enter first coordinate: ")
x1 = int(input("Enter x1: "))
y1 = int(input("Enter y1: "))
print("(x1, y1): ", (x1, y1))

print("Enter second coordinate: ")
x2 = int(input("Enter x2: "))
y2 = int(input("Enter y2: "))
print("(x2, y2): ", (x2, y2))

d = ((x2 - x1)**2 + (y2 - y1)**2)**0.5

print("Euclidean distance: ", round(d, 2))

Enter first coordinate:

Enter x1:  4
Enter y1:  5

(x1, y1):  (4, 5)
Enter second coordinate:

Enter x2:  8
Enter y2:  9

(x2, y2):  (8, 9)
Euclidean distance:  5.66

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [ ]:
P = int(input("Enter P: "))
R = int(input("Enter R: "))
T = int(input("Enter T: "))

SI = (P*R*T)/100

print("Simple Interest: ", SI)

Enter P: 2000
Enter R: 10
Enter T: 2
Simple Interest:  400.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [14]:
heads = int(input("Enter total number of heads: "))
legs = int(input("Enter total number of legs: "))

y = (4*heads - legs)/2
x = legs/2 - heads

print("Number of dogs: ", int(x))
print("Number of chicken: ", int(y))

Enter total number of heads:  4
Enter total number of legs:  12

Number of dogs:  2
Number of chicken:  2

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [15]:
n = int(input("Enter n: "))
sum = (n*(n+1)*(2*n+1))/6

print(int(sum))

# or

# sum = 0
# for i in range(1, n+1):
#   sum = sum + i**2

# print(sum)

Enter n:  10

385

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [17]:
a0 = int(input("Enter first term: "))
a1 = int(input("Enter second term: "))

d = a1 - a0

n = int(input("Enter n: "))

an = a0 + (n-1)*d

print(an)

Enter first term:  5
Enter second term:  10
Enter n:  5

25

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [19]:
n1 = int(input("Enter numerator of fraction 1: "))
d1 = int(input("Enter denomerator of fraction 1: "))
print("n1/d1: ", n1, "/", d1)

n2 = int(input("Enter numerator of fraction 2: "))
d2 = int(input("Enter denomerator of fraction 2: "))
print("n2/d2: ", n2, "/", d2)

num = n1*d2 + n2*d1
den = d1*d2

print("Sum: ", num, "/", den)

Enter numerator of fraction 1:  4
Enter denomerator of fraction 1:  5

n1/d1:  4 / 5

Enter numerator of fraction 2:  8
Enter denomerator of fraction 2:  9

n2/d2:  8 / 9
Sum:  76 / 45

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [24]:
H = L = B = 20
h, r = 3, 6

# number of glasses = volume of milk tank / volume of a glass

n = (H*B*L)//(3.14*r*r*h)

print(n)

23.0